* { padding:0; margin:0 }

body {
    font-size:75%;
    font-family:trebuchet, tahoma, verdana, Sans-Serif;    
    color:#333;
}

#body .content ul {
  margin:15px 0;
}

#body .content ul li {
    position:relative;
    left:15px;
    margin:3px 0;
}

h1, h2 {
  color:#35497D;
  font-size:19px;
  line-height:2em;
}

h3 {
	font-size:13px;
	color:#3679AD;
	line-height:1.66em;
}

a:active, a:visited, a:link {
    color:#4E70A4;
}

a:hover {
    color:#7DAFFB;
    text-decoration:none;
}

.clear {
    clear:both;    
}

#container {
    width:100%;
    text-align:center;  
}

#header {
    height:160px;
    width:100%;
    background:#FFF;    
}

#header #logo {
    position:absolute;    
    left:10px;
    top:7px;
    width:400px;
    height:120px;
    background:url(logo.png);
}

#header .loginbox {
    position:absolute;
    right:10px;
    bottom:30px;
    height:20px;
    width:120px;
    border:1px solid #666;    
}

#header .content {
    position:relative;
    width:960px;
    margin:0 auto;    
}

#header .content h1, #header .content h2 {
    display:none;   
}

#footer {
    width:100%;
    height:85px;
   
}

#footer .content {
    width:960px;
    margin:0 auto;    
}

#body {
    width:960px;
    margin:0 auto;
    text-align:left;
}

#body .navigation {
    float:left;
    width:210px;
}

#body .navigation ul {
    display:block;
    list-style-type:none;
}

#body .navigation ul li {
    color:#335;
    text-indent:4px;
    width:162px;
    height:18px;
    line-height:15px;
}

#body .navigation ul li a {
    height:18px;
    text-decoration:none;
    display:block;
}

#body .navigation ul li a:hover {
    color:#335;
    text-decoration:none;
    background:#A0D6FF;
}

#body .navigation_box {
    width:198px;
    margin:8px 0;
        
}

#body .navigation_box h3 {
    color:#14446A;
    font-size:14px;
    line-height:33px;
    margin-bottom:6px;
}

#body .content {
    float:right;
    padding:10px;
    width:730px;
}



/* 
  -- Rounded corners with CSS --
*/

.dialog {
 position:relative;
 margin:0px auto;
 min-width:8em;
 max-width:760px; /* based on image dimensions - not quite consistent with drip styles yet */
 z-index:1;
 margin-left:12px; /* default, width of left corner */
 margin-bottom:0.5em; /* spacing under dialog */
}

.dialog .dialog_content,
.dialog .t,
.dialog .b,
.dialog .b div {
 background:transparent url(sidebox.png) no-repeat top right;
 _background-image:url(sidebox.png);
}

.dialog .dialog_content {
 position:relative;
 zoom:1;
 _overflow-y:hidden;
 padding:0px 12px 0px 0px;
}

.dialog .t {
 /* top+left vertical slice */
 position:absolute;
 left:0px;
 top:0px;
 width:12px; /* top slice width */
 margin-left:-12px;
 height:100%;
 _height:1600px; /* arbitrary long height, IE 6 */
 background-position:top left;
}

.dialog .b {
 /* bottom */
 position:relative;
 width:100%;
}

.dialog .b,
.dialog .b div {
 height:30px; /* height of bottom cap/shade */
 font-size:1px;
}

.dialog .b {
 background-position:bottom right;
}

.dialog .b div {
 position:relative;
 width:12px; /* bottom corner width */
 margin-left:-12px;
 background-position:bottom left;
}

.dialog .hd,
.dialog .bd,
.dialog .ft {
 position:relative;
}

.dialog .wrapper {
 /* extra content protector - preventing vertical overflow (past background) */
 position:static;
 max-height:1000px;
 overflow:auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you arent worried about height/overflow issues. */
}

.dialog h1,
.dialog p {
 margin:0px; /* margins will blow out backgrounds, leaving whitespace. */
 padding:0.5em 0px 0.5em 0px;
}

.dialog h1 {
 padding-bottom:0px;
}


/* blog stuff */

.pagination .paginators div {
	float:left;
	padding:5px;
}

.pagination .paginators div.disabled {
	color:#AAA !important;
}

.pagination .counter {
	clear:both;
}

.blog-post-item {
	margin:15px 0;
}

.blog-post-title {
	background:#CCDFEE;
	text-indent:5px;
}

.blog-post-date {
	color:#557;
	padding:2px 0;
	font-size:10px;
	text-indent:5px;
	background:#E8F5FF;
}

.blog-post-content {
	display:block;
	padding:10px 0 10px 10px;
	background:#FAFAFA;
}



/* end blog stuff */


/* Suckerfish dropdowns */

#header .navigation {
    z-index:10;
    position:absolute;    
    width:100%;
    height:25px;
    left:0px;
    top:135px;
    background:url(topbar.gif) repeat-x;
    
}

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav ul {
    text-align:left;
    list-style-type:none;
    width:960px;
    margin:0 auto;
}

#nav li a {
    font-size:12px;
    line-height:2em;
    text-indent:10px;
    text-decoration:none;
    display:block;
    width:119px;
    height:25px;
    border-left:1px solid #C0DDF3; 	
}

#nav li li a {
    background:#B2D8F3;
    font-size:11px;
    width:180px;
    height:22px;
    border:none;
}

#nav a:hover {
    background-image:url(topbaron.gif);
    color:#333;    
}

#nav li li a:hover {
    background:#DCECFE;
    color:#333;        
}

#nav li {
    position:relative;
    float: left;
    width: 10em;
    left:210px;
}

#nav li.short {
    width:7.5em;
}

#nav li.short a {
    width:7.5em;
}

#nav li li {
    left:0px;
}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}

/* fieldsets */

fieldset{margin:1em 0;border:none;}
legend{
margin:1em 0 0 0;
padding:0 .5em;
background:transparent;
font-size:13px;
font-weight:900;
color:#566A9E;
}
label{float:left;width:100px;padding:0 1em;text-align:right; position:relative; top:2px;}
fieldset div{margin-bottom:.5em;padding:5px 0;display:block;}
fieldset div input,fieldset div textarea{
        width:150px;
border:1px solid #888;
padding:1px;
color:#555;}
fieldset div select{padding:1px;}
div.fm-multi div{margin:5px 0;}
div.fm-multi input{width:1em;}
div.fm-multi label{display:block;width:200px;padding-left:5em;text-align:left;}
#fm-submit{clear:both;padding-top:1em;text-align:center;}
#fm-submit input{border:1px solid #333;padding:2px 1em;background:#555;color:#fff;font-size:100%;}
input:focus,textarea:focus{background:#efefef;color:#000;}
fieldset div.fm-req{font-weight:bold;}
fieldset div.fm-req label:before{content:"* ";}
fieldset div.error {
    background-color: #FFC;
    color: #C00;
    border: 1px solid #FC6;
}


div.error-message { margin-left: 125px;}

/* button styles */

.submit input, .button {
    background:#A2D0F4;
    border:1px solid #437FAF;
    padding:3px;
    float:left;
    margin:8px 5px 8px 0;
    cursor:pointer;
    position:relative;
    line-height:1.6em;
    height:28px;
    font-size:12px;
    text-decoration:none;
    color:#333 !important;
}

/* flash messages */

.flash_failure, .flash_success {
    padding:8px;
    font-size:13px;
    margin-bottom:10px;
}

.flash_failure, #authMessage.message {
    color:red;
    border:2px solid #F55;
    background:#FFE4E4;
}

.flash_success {
    color:#47A626;
    border:2px solid #47A626;
    background:#C1E9AE;
}






    div.basket {
        border: 1px solid #eeeeee;
        padding: 5px;
    }
    div.basket table {
        border: none;
    }
    div.basket table th {
        font-weight: bold;
        text-align: left;
    }
    div.basket table tr.line td {
        height: 30px;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 10px;
    }
    td.cart_total {
        padding-right: 10px;
    }
    .b { font-weight: bold; }
    a img {
        border: none;
    }

div.price {
    font-size: 17px; color: #14446A; font-weight: bold;
    padding:10px 0;
}

/* email entry form */
#jukkf-jukkf {
  width:130px;
}

.nextLink, .prevLink {
    float:right;
    padding-left:15px;
}

.paginatorDisplay {
    float:left;
}

.pageControl {
  margin-bottom:20px;
  padding:8px 0;
  clear:both;
}

.pageControl .disabled {
  color:#BBB;
}

/* products */

div.product-image {
    float: left;
    margin-right: 10px;
}
div.product-details {
    float: left;
    width: 300px;
}

div.product-description {
    padding:7px 0;    
}

div.product-details p {
}
div.product-box {
    border-top: 1px solid #ccc;
}

.products-search .product {
    border-bottom: 1px solid #d1d1d1;
    clear: both;
    float: left;
    width: 560px;
    margin: 0 0 10px;
    padding: 0 0 10px;
    font-size: 8pt;
}

.product-tellafriendlink {
    clear:both;    
}

.product-title {
    text-decoration:none;
    font-size:15px;
    font-weight:900;    
}

.products-search .product-image {
    float: left;
    border: 1px solid #D1D1D1;
    margin: 0 18px 0 0;
    padding: 5px;
    text-align: center;
    width: 125px;
    height: 125px;
}
.products-search .product-price { 
    font-size:2em;
}