@charset "utf-8";/*
Theme Name: Basico
Description: Premium HTML E-commerce Theme
Author: Aldema Studio & Just 8D
Author URI:http://themeforest.net/user/DeboraLuisaA
Version: 1.0
*/



html, body {
	height:100%;
}
body {
	top:0px;
	margin:0px;
	padding:0px;
	background:#f7f7f7 url(Images/bg-basico.jpg) repeat;
	font-family:Arial, Helvetica, sans-serif;
}
#main {
	margin: 0 auto;
	border-left:1px solid #ECE9E9;
	border-right:1px solid #ECE9E9;
	border-bottom:1px solid #ECE9E9;
	width:681px;
	min-height:100%;
	background-color:#ffffff;
}



.header{
	height:110px;
border-bottom:1px solid #ECE9E9;
background:url(Images/hbg.png) repeat-x;
margin:0 0 48px 0;
}
.central_title{width:681px;
text-align:center;
margin-left:auto;
margin-right:auto;
clear:both;
display:inline-block;
padding:0;
z.index:2;


}
.logo{padding:29px 0 10px 0;
}
.hslogan{font-size:12px;
color:#666;}

.central_bar{border-bottom:1px solid #ECE9E9; height:1px; margin-top:0px;z-index:1; display:inline-block;
margin-left:auto;
margin-right:auto;

width:575px;}
.central_bg{background:white;
display:inline-block;
margin-left:auto;
margin-right:auto;
margin-top:-13px;
padding:0 16px 0 16px;

}

.question1 {
		margin:0 0 0px 0;

	padding:0 0px 0px 0px;
	color:#333333;
background:white;
	word-spacing:-5px;
}
.question2 {
	color:#999999;
background:white;
	margin:0;

	padding:0px 0px 0px 0px;
	word-spacing:-5px;
}



.ha {

	font-size:20px;
	font-family:Kartika;
	font-weight:normal;
}

.utext{font-size:14px;
color:#999;
line-height:26px;
clear:both;
width:575px;
display:inline-block;
}


.he {
	font-size:20px;
	font-family:Kartika;
	font-weight:normal;
	line-height:20px;
}


.fb_box{
padding:0 45px 0 0px;
display:inline-block;
text-align:left;
}

.fb_img{width:30px;
height:30px;
background:url(Images/fbimg.jpg) no-repeat;
float:left;
margin:0 12px 0 0;}

.fb_box:hover .fb_img{
background:url(Images/fb2img.jpg);}

.boxc{float:left;}

.box_title{
font-size:13px;

margin:-2px 0 0 0;}

.box_title a{color:#666;
text-decoration:none;}

.twitt_box:hover .box_title a{
text-decoration:underline;}

.fb_box:hover .box_title a{
text-decoration:underline;}

.rss_box:hover .box_title a{
text-decoration:underline;}


.box_desc{
font-size:12px;
color:#999;
line-height:20px;}

.twitt_box{
padding:0 45px 0 0px;
display:inline-block;
text-align:left;}

.twitt_img{width:30px;
height:30px;
background:url(Images/twitt.jpg) no-repeat;
float:left;
margin:0 12px 0 0;}

.twitt_box:hover .twitt_img{
background:url(Images/twitt2.jpg) no-repeat;
}

.rss_box{
padding:0 0px 0 0px;
display:inline-block;
text-align:left;}

.rss_img{width:30px;
height:30px;
background:url(Images/rss.jpg) no-repeat;
float:left;
margin:0 12px 0 0;}

.rss_box:hover .rss_img{
background:url(Images/rss2.jpg) no-repeat;
}

.footer{font-size:13px;
padding:30px 0 0px 0;
height:70px;
border-top:1px solid #ECE9E9;
margin:37px 0 0 0;
background:url(Images/fbg.png) repeat-x;
}

.f_copyright{color:#666;}

.f_credits{color:#999;
line-height:32px;}

.f_credits a{color:#999;
text-decoration:none;}

.f_credits a:hover{
text-decoration:underline;}
/*****************************************************
 * Contdown
 *****************************************************/ 
#countdown_holder {
	display: inline-block;
	margin: 0 auto;
	padding: 26px 0 0 0;

text-align:center;
}

/* jQuery Countdown styles 1.5.4. */

.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;

	padding: 0;
	text-align: center;
	display: block;
}

.countdown_show4 .countdown_section {
	width: 110px;
	background:url(Images/countdown_bg.png) repeat-x;

}

.countdown_section {
	display: block;
	float: left;
	text-align: center;
	font:11px Arial, Helvetica, sans-serif;
	color:#999;
	font-weight:bold;
	border:1px solid #ECE9E9;
	margin:11px;
		text-transform: uppercase;
	padding:17px 0 23px 0;
	line-height:16px;
	text-shadow: #ffffff 1px 1px 0px;
}
.countdown_amount {
		font:38px Arial, Helvetica, sans-serif;
	color:#666;
	font-weight:normal;
	padding:0px 0 0 0;


}
.countdown_descr {
	display: block;
	width: 100%;
}


