.theme-default .nivoSlider {
	position:relative;
	margin:1px 0 0px 1px;
	
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:32px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:-3px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav {display:block;
position:absolute;
margin:302px 0 0 0;}

.theme-default .nivo-directionNav a {
	display:block;
	width:29px;
	height:24px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;

}
.theme-default .nivo-directionNav a:hover {
	background:url(arrows_h.png) no-repeat;


}
.theme-default a.nivo-nextNav {
	background:url(arrows2.png) no-repeat;
	left:903px;
}
.theme-default a.nivo-nextNav:hover {
	background:url(arrows2_h.png) no-repeat;
}
.theme-default a.nivo-prevNav {
	right:1;
}

.theme-default .nivo-caption {
    font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#999999;
}


