/* The Nivo Slider styles */
.nivoSlider {
	position:relative;

}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	
	
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
display:block;
z-index:8;
width:474px;
height:278px;
}

.nivoSlider a.nivo-imageLink2 {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
display:block;
z-index:1000;
width:932px;
height:278px;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	

}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;

}
/* Caption styles */
.nivo-caption {
	position:absolute;
	top:-1px;
	height:229px;
  width:431px;
  left:475px;
	bottom:0px;
padding:46px 0 0 27px;
background-color:#fff;

	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}


.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
	display:block;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}