<h1>Home page</h1>
<b>Congratulations! You`ve just started your own e-commerce store!</b><br/><br/>This is your home page, and the first page that your customers will see. Now you need to start adding products to your store, so go ahead and log in to your <a href="admin">admin area</a><br/><br/>We wish you all the best your with new venture!