a {
	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.3s ease;
}

/* Buttons */

.button, .button:visited, input[type=submit] {
	font-size: 14px;
	display: inline-block;
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	background: -webkit-gradient(linear, left top, left bottom, from(#63b80a), color-stop(0.5, #57a409), color-stop(0.512, #389002), to(#256300)) #399501;
	background: -moz-linear-gradient(linear, left top, left bottom, from(#63b80a), color-stop(0.5, #57a409), color-stop(0.512, #389002), to(#256300)) #399501;
	background: -o-linear-gradient(linear, left top, left bottom, from(#63b80a), color-stop(0.5, #57a409), color-stop(0.512, #389002), to(#256300)) #399501;
	background: -ms-linear-gradient(linear, left top, left bottom, from(#63b80a), color-stop(0.5, #57a409), color-stop(0.512, #389002), to(#256300)) #399501;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#266600',endColorstr='#61b40a',GradientType=0);
	border: 1px solid rgba(0,0,0,0.20);
	border-radius: 4px;
	padding: 8px 20px;
	cursor: pointer;
	-moz-box-shadow: inset 1px 1px 1px #6fc10b;
	-webkit-box-shadow: inset 1px 1px 1px #6fc10b;
	box-shadow: inset 1px 1px 1px #6fc10b;
}

.center {
	text-align: center;
}

/* Button Colors */

.blue.button, input[type=submit] {
	color: #fff !important;
	background: #377ec0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#59abf4), color-stop(0.501, #4c93d5), color-stop(0.503, #377ec0), to(#286fb1));
	background-image: -moz-linear-gradient(270deg, #59abf4 0%, #4c93d5 50.1%, #377ec0 50.3%, #286fb1 100%);
	-moz-box-shadow: inset 1px 1px 1px #7bc1fc;
	-webkit-box-shadow: inset 1px 1px 1px #7bc1fc;
	box-shadow: inset 1px 1px 1px #7bc1fc;
}

.gray.button {
	background: -moz-linear-gradient(270deg, #5c5c5c 0%, #464646 50.1%, #323232 52.2%, #323232 100%) #377ec0;
	background: -webkit-gradient(linear, left top, left bottom, from(#5c5c5c), color-stop(0.501, #464646), color-stop(0.522, #323232), to(#323232)) #377ec0;
	-moz-box-shadow: inset 1px 1px 1px #6a6a6a;
	-webkit-box-shadow: inset 1px 1px 1px #6a6a6a;
	box-shadow: inset 1px 1px 1px #6a6a6a;
}

/* Button Sizes */

.small.button {
	font-size: 12px;
	padding: 5px 15px;
}

.huge.button {
	font-size: 28px;
	font-weight: 300;
	padding: 17px 22px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-left: 20px;
}

/* Button Effects */

.button:hover, input[type=submit]:hover {
	color: #fff;
	-moz-box-shadow: 0 0 8px #a7a7a7;
	-webkit-box-shadow: 0 0 8px #a7a7a7;
	box-shadow: 0 0 8px #a7a7a7;
}
.button:active,input[type=submit]:active {
	-moz-box-shadow:inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
	-o-box-shadow:inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
	-webkit-box-shadow:inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
	box-shadow:inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
}

/* End Button Colors */

#smaller-images a img {
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #f2f2f2;
	margin-right: 9px;
	margin-top: 10px;
}


.tipsy { padding: 5px; font-size: 12px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(tipsy.gif); }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }

.product-image {
	display: block;
	height: 140px;
	text-align: center;
	margin-bottom: 10px;
	width: 155px;
	float: left;
}
/* Homepage Slideshow */

#slideshow ul {
	position: relative;
	overflow: hidden;
	width: 720px;
	margin: 15px 0 0;
	padding: 0;
	height: 350px;
	background: #fff url(preloader.gif) center center no-repeat;
}
		
#slideshow ul .Slide {
	visibility:hidden;
	background: #EEEEEE url(preloader.gif) center center no-repeat;
}	

#slideshow ul .icon {
	background-image: url(icons.png);
}

#slideshow ul .timer_sprite {
	background-image: url(timer-sprite.png);
}
	
/* Global Description Style */	
#slideshow ul .Slide div {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:100;
	color:#FFF;
	font-size:16px;	
}

	
/*Hyperlink Styles*/
#slideshow ul a:link{		
	color:#FFF;
	text-decoration:none;
}
	
#slideshow ul a:visited{		
	color:#FFF;
}
	
#slideshow ul a:hover{		
	color:#FFF;
	text-decoration:underline;
}
	
#slideshow ul a:active{		
	color:#FFF;
}

#slideshow ul .noSelect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#slideshow ul li div {
	color: #fff;
	font-size: 14px;
	text-shadow: #666 1px 1px 1px;
}

#slideshow span span {
	font-size: 16px;
	font-weight: bold;
}

/* Checkout Cart */

table thead tr th {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

tr.line td {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f2f2f2;
}

.cart_total {
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

#footbox {
	width: 940px;
	margin: 0 auto;
}

.product-wrapper {
	position: relative;
}

.product-social {
	position: absolute;
	top: 0;
	left: 0;
}

#product-text {
	position: relative;
	padding-top: 30px;
}

#product-text, #product-text p, #product-text span {
	font-size: 16px !important;
	line-height: 24px !important;
	color: #888 !important;
}

#side-clients {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#side-clients li a {
	display: block;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f2f2f2;
}

#new-products {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#new-products li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f2f2f2;
	overflow: hidden;
}

#new-products li div.new-product-image {
	float: left;
	width: 70px;
	text-align: center;
	min-height: 40px;
	overflow: hidden;
}

#new-products li a {
	padding-top: 5px;
}

/* Recently Viewed */

#recently-viewed {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#recently-viewed li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f2f2f2;
	overflow: hidden;
}

#recently-viewed li div.recently-viewed-image {
	float: left;
	width: 70px;
	text-align: center;
	overflow: hidden;
	min-height: 40px;
}


/* TABS */

#tabs {
	font-size: 90%;
	margin: 20px 0;
}
#tabs ul {
	float: left;
	background: #fff;
	width: 500px;
	margin: 0;
	padding: 4px 0 0;
}
#tabs li {
	margin-right: 15px;
	list-style: none;
}
* html #tabs li {
	display: inline;
}
#tabs li, #tabs li a {
	float: left;
}
#tabs ul li.active {
	border-top:2px #FFFF66 solid;
	background: -moz-linear-gradient(90deg, #f4f4f4 0%, #f2f2f2 100%) #FFFFCC;
	background: -webkit-gradient(linear, left bottom, left top, from(#f4f4f4), to(#f2f2f2)) #FFFFCC;
	border-left: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	margin-bottom: -1px;
}
#tabs ul li.active a {
	color: #333333;
}
#tabs div.content {
	background: #f2f2f2;
	clear: both;
	padding: 15px;
	min-height: 200px;
	border: 1px solid #dbdbdb;
}
#tabs div.content h3 {
	margin-bottom: 12px;
}
#tabs div.content p {
	line-height: 150%;
}
#tabs ul li a {
	text-decoration: none;
	padding: 8px;
	color: #000;
	font-weight: bold;
}

/* Messages */

.info, .flash_success, .flash_warning, .flash_error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
}
.info {
color: #00529B;
background-color: #BDE5F8;
}
.flash_success {
color: #4F8A10;
background-color: #DFF2BF;
padding: 10px;
margin-bottom: 20px;
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
}
.flash_failure {
color: #D8000C;
background-color: #FFBABA;
padding: 10px;
margin-bottom: 20px;
}

.addcart {
	font-size: 11px;
	padding: 4px 12px;
	position: absolute;
	bottom: 25px;
	left: 0;
}

.logo a img {
	height: 50px;
}



.karfa-button {
  background: #305C99;
  display: inline-block;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 7px 15px 8px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.3s ease;
  text-shadow: 1px 1px 1px #244777;
}

.karfa-button:hover {
	cursor: pointer;
	background: #479D05;
	color: #fff;
	text-shadow: #479D05 1px 1px 1px;
}