/*** adding sf-vertical in addition to sf-menu creates a vertical menu ***/

#categories ul, #categories ul li {
	width: 200px;
}
/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
#categories ul li:hover ul,
#categories ul li.sfHover ul {
	left:	200px; /* match ul width */
	top:	0;
}

#categories ul li ul li:hover ul,
#categories ul li ul li.sfHover ul {
	left:	15em; /* match ul width */
	top:	0;
}

/*** alter arrow directions ***/
#categories ul .sf-sub-indicator { background-position: -10px 0; } /* IE6 gets solid image only */
#categories ul a > .sf-sub-indicator { background-position: 0 0; } /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers*/
#categories ul a:focus > .sf-sub-indicator,
#categories ul a:hover > .sf-sub-indicator,
#categories ul a:active > .sf-sub-indicator,
#categories ul li:hover > a > .sf-sub-indicator,
#categories ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}