
/*** ESSENTIAL STYLES ***/
#categories ul, #categories ul * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
#categories ul {
	line-height:	1.0;
}
#categories ul ul {
	position:		absolute;
	top:			-999em;
	width:			15em; /* left offset of submenus need to match (see below) */
}
#categories ul ul li {
	width:			100%;
}
#categories ul li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#categories ul li {
	float:			left;
	position:		relative;
}
#categories ul a {
	display:		block;
	position:		relative;
}
#categories ul li:hover ul,
#categories ul li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul#categories ul li:hover li ul,
ul#categories ul li.sfHover li ul {
	top:			-999em;
}
ul#categories ul li li:hover ul,
ul#categories ul li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}
ul#categories ul li li:hover li ul,
ul#categories ul li li.sfHover li ul {
	top:			-999em;
}
ul#categories ul li li li:hover ul,
ul#categories ul li li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
#categories ul {
	float:			left;
	margin-bottom:	1em;
}
#categories ul a {
	border-bottom:		1px solid #f2f2f2;
	padding: 		.75em 1em;
	text-decoration:none;
}
#categories ul a, #categories ul a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#222;
}
#categories ul li {
	background:		#fff;
}
#categories ul li li {
	background:		#f2f2f2;
}
#categories ul li li li {
	background:		#f2f2f2;
}

#categories ul li ul {
	-moz-box-shadow: 0 0 8px #c3c3c3;
	-webkit-box-shadow: 0 0 8px #c3c3c3;
	box-shadow: 0 0 8px #c3c3c3;
}

#categories ul li:hover, #categories ul li.sfHover,
#categories ul a:focus, #categories ul a:hover, #categories ul a:active {
	background:		#f2f2f2;
	outline:		0;
	color: #000;
}

#categories ul li ul li:hover, #categories ul li ul li.sfHover,
#categories ul li ul a:focus, #categories ul li ul a:hover, #categories ul li ul a:active {
	background:		#e4e4e4;
	outline:		0;
	color: #000;
}

/*** arrows **/
#categories ul a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('darkarrows.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}

li.active a span.sf-sub-indicator {
	background:		url('arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}



a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#categories ul ul .sf-sub-indicator { background-position:  -10px 0; }
#categories ul ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
#categories ul ul a:focus > .sf-sub-indicator,
#categories ul ul a:hover > .sf-sub-indicator,
#categories ul ul a:active > .sf-sub-indicator,
#categories ul ul li:hover > a > .sf-sub-indicator,
#categories ul ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
