/* Base: #499400 */
/* Secondary: #397400 */
/* Darker: #2d5b00 */
/* FORM RGB: (73, 148, 0, */

body {
	background: #fff url(background.png);
}

@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('websymbols-regular-webfont.eot');
	src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('websymbols-regular-webfont.woff') format('woff'),
	     url('websymbols-regular-webfont.ttf') format('truetype'),
	     url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.fb-header-like {
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}

.symbol {
	font-family: "WebSymbolsRegular";
}

#header {
	height: 70px;
	position: relative;
}

#sidebar {
	margin-left: 0;
	margin-top: 20px;
}

#footer p {
	float: left;
}

#footer p span {
	font-size: 12px;
}

#footer ul {
	float: right;
	list-style-type: none;
	margin: 15px 20px 0px 0px;
	padding: 0;
}

#footer ul li {
	float: left;
	margin-left: 25px;
}
#footer ul li a {
	font-weight: bold;
}

.icon-left {
	margin-right: 5px;
}

.icon-right {
	margin-left: 5px;
}

#header .logo {
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}

#header .logo img {
	height: 60px;
}

.product-title {
	display: block;
	height: 45px;
	font-size: 14px;
	font-weight: bold;
}

.basecolor {
	color: #333;
}

.product-info {
	margin: 0;
}

.product-wrapper {
	position: relative;
}

#smaller-images {
	margin-top: 15px;
}

#smaller-images a {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	height: 125px;
	margin-bottom: 5px;
}
#smaller-images a img {
	width: 90px;
}

#product-select {
	width: 350px;
}

.facebook-like {
	position: absolute;
	top: 30px;
	right: 0;
}
.subright {
	margin-top: 10px;
}
#product-gallery {
	margin: 0px 20px 0px 0px;
}

.product-description {
	font-size: 12px;
}
.product-image {
	display: block;
	text-align: center;
	height: 150px;
	overflow: hidden;
	width: 100%;
}

.second-nav {
	float: left;
}

.container {
	background: #fff;
	margin-top: 20px;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 4px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 4px 0px;
}

.search-header {
	position: absolute;
	top: 25px;
	right: 160px;
}

.top-bar {
	float: right;
}

.cart {
	float: right;
	margin-top: 20px;
	margin-right: 0px;
}
.cart a {
	display: block;
	text-align: right;
}

.cart a div.cart-title {
	font-size: 12px;
	font-weight: normal;
	color: #888888;
	float: left;
	padding-right: 15px;
}

.cart a div.cart-title span {
	font-size: 18px;
	font-weight: bold;
	color: #222;
	display: block;

}
.cart a span.cart-icon {
	float: right;
	display: block;
	height: 45px;
	line-height: 45px;
	width: 45px;
	text-align: center;
	background: #499400;
	color: #fff;
}

.cart a:hover span.cart-icon {
	background: #000;
}

/* Colors
-------------------------------------------------------------- */

a {
  color: #499400;
}

a:hover {
  color: #397400;
  text-decoration: none;
}

.carousel-control {
	background: none;
	text-indent: -999999999px;
}

a.buttonright, a.buttonleft {
	position: absolute;
	bottom: 45%;
}


a.buttonleft, a.buttonleft:hover {
	display: block;
	background: url(slide_left.png) no-repeat;
	width: 48px;
	height: 48px;
	left: -28px;
	opacity: 1.0;
	filter: alpha(opacity=100);
}

a.buttonright, a.buttonright:hover {
	display: block;
	background: url(slide_right.png) no-repeat;
	width: 48px;
	height: 48px;
	right: -28px;
	opacity: 1.0;
	filter: alpha(opacity=100);
}


.carousel-caption {
  position: absolute;
  top: 25%;
  left: 0;
  padding: 0;
  width: 100%;
}

/* Base: #499400 */
/* Secondary: #397400 */

div.image-title {
  background: rgba(0, 0, 0, 0.7);
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: inline-block;
}

div.image-title span {
	font-size: 32px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
}
p.image-description {
  background: rgba(0, 0, 0, 0.4);
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: inline-block;
  position: absolute;
  margin-top: 20px;
}
p.image-description span {
	font-size: 16px;
	font-style: italic;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
}


.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
  color: #fff;
}

#myCarousel img {
	width: 940px;
}
#myCarousel, #myCarousel div.carousel-inner, #myCarousel div.item {
	height: 350px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #499400;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #499400, #397400);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#499400), to(#397400));
  background-image: -webkit-linear-gradient(top, #499400, #397400);
  background-image: -o-linear-gradient(top, #499400, #397400);
  background-image: linear-gradient(to bottom, #499400, #397400);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #499400;
  background-color: #0081c2;
  background-image: linear-gradient(to bottom, #499400, #397400);
  background-image: -moz-linear-gradient(top, #499400, #397400);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#499400), to(#397400));
  background-image: -webkit-linear-gradient(top, #499400, #397400);
  background-image: -o-linear-gradient(top, #499400, #397400);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #499400;
  *background-color: #397400;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#499400), to(#397400));
  background-image: -webkit-linear-gradient(top, #499400, #397400);
  background-image: -o-linear-gradient(top, #499400, #397400);
  background-image: linear-gradient(to bottom, #499400, #397400);
  background-image: -moz-linear-gradient(top, #499400, #397400);
  background-repeat: repeat-x;
  border-color: #397400 #397400 #2d5b00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff99400', endColorstr='#ff397400', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}


.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #397400;
  *background-color: #2d5b00;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #2d5b00 \9;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #2d5b00;
}

.btn-link {
  color: #397400;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-link:hover {
  color: #2d5b00;
  text-decoration: underline;
  background-color: transparent;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #397400;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #397400;
}

.nav .dropdown-toggle .caret {
  border-top-color: #397400;
  border-bottom-color: #397400;
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: #2d5b00;
  border-bottom-color: #2d5b00;
}

a.thumbnail:hover {
  border-color: #397400;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(73, 148, 0, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(73, 148, 0, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(73, 148, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(73, 148, 0, 0.6);
}

.breadcrumb {
	margin: 0 0 0px;
}

/* Navigation
-------------------------------------------------------------- */

#navigation {
	background: #499400;
	display: block;
	height: 40px;
}

#nav span.symbol {
	float: right;
}

#navigation nav {
	float: left;
}

#navigation ul.second-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	height: 40px;
}

#navigation ul.second-nav li {
	height: 40px;
	float: left;
}

#navigation ul.second-nav li a {
	display: block;
	color: #fff;
	font-size:12px;
	font-weight:bold;
	text-shadow: 1px 1px 0px #397400;
	padding:10px 25px;
}



#navigation ul.lastnav {
	border-right:1px solid #397400;
}

#navigation ul.second-nav li a:hover {
	background:#397400;
	color:#fff;
}

#nav {
	margin:0;
	background-color: #499400;
	height: 40px;
}

#nav ul.nav {
	margin:0px auto;
	position:relative;
	float:left;
	border-right:1px solid #397400;
}

#nav ul.nav li {
	display:inline;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	float:left;
	position:relative;
}

#nav ul.nav li a {
	padding:10px 25px;
	color:#fff;
	text-shadow: 1px 1px 0px #397400;
	text-decoration:none;
	display:inline-block;
	border-left:1px solid #397400;
}

#nav ul.nav li a:hover {
	background:#397400;
	color:#fff;
}

#nav ul.nav li a.down-arrow {
	padding-right: 40px;
	background: url(downarrow.png) no-repeat 87% center;
}

#nav ul.nav li a.down-arrow:hover {
	padding-right: 40px;
	background: #397400 url(downarrow.png) no-repeat 87% center;
}


#nav ul.nav li:hover > a {
	background:#397400;
}

#nav ul.nav li:hover > a.down-arrow {
	padding-right: 40px;
	background: #397400 url(downarrow.png) no-repeat 87% center;
}






.nav-path-selected, .nav-selected, .nav-selected a, .nav-path-selected a {
	background:#397400;
}

/* Drop-Down Navigation */
#nav ul.nav li:hover > ul
{
	visibility:visible;
	opacity:1;
}

#nav ul.nav ul, #nav ul.nav ul li ul {
	list-style: none;
    margin: 0;
    padding: 0;    
	visibility:hidden;
    position: absolute;
    z-index: 99999;
	width:180px;
	background:#499400;
	opacity:0;
}

#nav ul.nav ul {
    top: 40px;
    left: 0px;
}

#nav ul.nav ul li ul {
    top: 0;
    left: 180px;
}

#nav ul.nav ul li {
	clear:both;
	width:100%;
	border:0 none;
	border-bottom:1px solid #397400;
}

#nav ul.nav ul li a {
	background:none;
	padding:7px 15px;
	color:#fff;
	text-shadow:1px 1px 0px #397400;
	text-decoration:none;
	display:inline-block;
	border:0 none;
	float:left;
	clear:both;
	width:150px;
}

#nav ul.nav li a.first {
	border-left: 0 none;
}

#nav ul.nav li a.last {
	border-right: 0 none;
}

.cart-item-input {
	width: 60px;
}

.center {
	text-align: center;
}

.page-content h1 {
	font-size: 22px;
}

.tab-content {
	border-left: 1px solid #DDDDDD;
	padding: 10px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 20px;
	border-right: 1px solid #DDDDDD;
}

.nav-tabs {
	margin: 0;
}

/* Home Products
-------------------------------------------------------------- */

.product-home {
	height: 300px;
	text-align: center;
	position: relative;
}
.product-home img {
	height: 150px;
}

.new-product {
	position: absolute;
	left: 15px;
	top: 15px;
	background: #be002a;
}

.product-sale {
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(sale_bg.png) no-repeat;
 	display: block;
 	height: 86px;
 	width: 86px;
	color: #221C34;
	text-shadow: 1px 0px 1px #F4D915;
}

.product-sale span {
	display: block;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	font-size: 13px;
	font-weight: bold;
	height: 86px;
 	width: 86px;
 	line-height: 53px;
}

.detail-price {
	font-size: 18px;
}

.detail-price span {
	font-weight: bold;
	color: #222;
}

.price span {
	font-weight: bold;
	color: #222;
}
.price-was {
	position: absolute;
	top: 120px;
	left: 0;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	background-color: #f7df34;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(247, 223, 52)), to(rgb(213, 193, 32)));
	background-image: -webkit-linear-gradient(top, rgb(247, 223, 52), rgb(213, 193, 32));
	background-image: -moz-linear-gradient(top, rgb(247, 223, 52), rgb(213, 193, 32));
	background-image: -o-linear-gradient(top, rgb(247, 223, 52), rgb(213, 193, 32));
	background-image: -ms-linear-gradient(top, rgb(247, 223, 52), rgb(213, 193, 32));
	background-image: linear-gradient(top, rgb(247, 223, 52), rgb(213, 193, 32));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7df34', EndColorStr='#d5c120');
	color: #221C34;
}
.price-was span {
	font-weight: bold; 
	text-decoration: line-through;
}

span.price-was-details {
	text-decoration: line-through;
	color: #666 !important;
	font-weight: normal !important;
}

#contant-form {
	float: left;
	width: 460px;
}

#contant-form input#MessageName, #contant-form input#MessageSubject {
	width: 100%;
}

#contant-form input#MessageCaptcha {
	width: 60px;
}

#contant-form textarea {
	width: 100%;
	height: 300px;
}

#contact-details {
	float: right;
	width: 400px;
	margin-right: 15px;
}

#contact-details h3 {
	border-bottom: 1px dashed #ddd;
}

#related-products ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#related-products ul li {
	float: left;
	width: 200px;
	text-align: center;
	margin-right: 25px;
}
#related-products ul li img {
	height: 130px;
}

/* Blog
-------------------------------------------------------------- */

.postTitle {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.postDate {
	display: block; 
	margin-bottom: 20px;
}

.blog-entry {
    display: block;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.blog-date {
    color: #999;
}
.blog-entry h3 {
    margin-top: 5px;  
    padding-top: 0;
}
.blog-entry h3 a {
    font-size: 22px;
}

.blog-entry p {
    color: #666;
}

/* Blog Ends
-------------------------------------------------------------- */