/*
 * Galleria Miniml Theme 2011-06-07
 * Copyright (c) 2011, Aino
 */
 
.galleria-container {
    position: relative;
    font:11px/14px arial,sans-serif;
    background: #fff;
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-stage {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0px;
    right: 0px;
    overflow:hidden;
}
.galleria-dots {
    position:absolute;
    height:10px;
    bottom:0;
    left:0;
}
.galleria-dots div {
    width:10px;
    height:10px;
    margin-right:5px;
    background:#ddd url(circ.png) no-repeat;
    float:left;
    cursor:pointer;
}
.galleria-container.notouch .galleria-dots div:hover,
.galleria-container.touch .galleria-dots div:active {
    background-color:#d77;
}
.galleria-dots div.active {
    background-color:#222;
}
.galleria-fs,
.galleria-thumbs,
.galleria-more {
    display: none;
    width:10px;
    height:10px;
    cursor:pointer;
    background:#222 url(fs.png) no-repeat;
    position:absolute;
    bottom:0;
    right:0;
}
.galleria-thumbs{
    background-image:url(thumb.png);
    right:15px;
}
.galleria-more{
    background-image:url(info.png);
    right:30px;
}
.galleria-container.notouch .galleria-fs:hover,
.galleria-container.notouch .galleria-thumbs:hover,
.galleria-container.notouch .galleria-more:hover,
.galleria-container.touch .galleria-fs:active,
.galleria-container.touch .galleria-thumbs:active,
.galleria-container.touch .galleria-more:active,
.galleria-thumbs.active,
.galleria-more.active {
    background-color:#d77;
}
.fullscreen .galleria-stage{
    bottom:30px;
}
.fullscreen .galleria-dots {
    left:10px;
    bottom:10px;
}
.fullscreen .galleria-fs {
    right:10px;
    bottom:10px;
    background-image:url(exit.png);
}
.fullscreen .galleria-thumbs {
    right:25px;
    bottom:10px;
}
.fullscreen .galleria-more {
    right:40px;
    bottom:10px;
}
.fullscreen .galleria-info {
    bottom:10px;
    margin-left:5px;
}
.fullscreen .galleria-thumbnails-container{
    bottom:30px;
}
.galleria-counter {
    display:none;
}
.galleria-loader {
    width: 30px;
    height: 30px;
    background: #fff url(loader.gif) no-repeat 50% 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    z-index: 3;
    display:none;
}
.galleria-info {
    position: absolute;
    bottom:0px;
    height:10px;
    line-height:10px;
}
.galleria-info-title {
    display:inline;
    color:#666;
}
.galleria-info-description {
    display:none!important;
}
.galleria-desc {
    position:absolute;
    width:30%;
    top:50%;
    left:50%;
    margin-left:-15%;
    background:#fff;
    border:5px solid #fff;
    padding:5px;
    z-index:2;
    font:11px/14px arial,sans-serif;
    display:none;
    color:#777;
    cursor:pointer;
}
.galleria-desc.hover{
    background:#fff url(bye.png) no-repeat 100% 0;
}
.galleria-desc strong{
    color:#222;
    font-weight:normal;
    margin-bottom:5px;
    display:block;
}
.galleria-desc p{
    margin-bottom:0;
}
.galleria-image-nav {
    display:none;
}
.galleria-thumbnails-container {
    position:absolute;
    top:0;
    bottom:20px;
    left:0;
    right:0;
    background:url(bg.png);
    z-index:2;
    overflow:hidden;
    visibility: hidden;
}
.galleria-thumbnails {
    margin:10px;
}
.galleria-thumbnails .galleria-image {
    height: 50px;
    width:80px;
    background: #d77;
    margin: 2px 8px 8px 2px;
    float: left;
    cursor: pointer;
       -moz-box-shadow: 0 0 2px rgb(0,0,0);
    -webkit-box-shadow: 0 0 2px rgb(0,0,0);
            box-shadow: 0 0 2px rgb(0,0,0);
}
.galleria-container.notouch .galleria-thumbnails .galleria-image img:hover,
.galleria-container.touch .galleria-thumbnails .galleria-image img:active {
    opacity:.1!important;
    filter: alpha(opacity=10)!important;
}
