/**
 * Bad and ugly reset. 
 * Only for demo purposes.
 */
*{ margin: 0; padding: 0; border: 0; }


/*
 | ------------------------------------------
 | Glide styles
 | ------------------------------------------
 | Here are slider styles
 | 
*/
.slider {
    position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
    margin-bottom: 20px;
}
.slider ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
	
	.slides {
		height: 100%;
		/* Simple clear fix */
		overflow: hidden;
		list-style: none;
		-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		     -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	
		.slide {
			height: 100%;
			float: left;
			clear: none;
		}

		.slider-arrows {}

			.slider-arrow {
				position: absolute;
				display: block;
				padding: 15px 20px;
				margin-bottom: -50px;
				border: 1px solid #fff;
				border-radius: 8px;
				color: #fff;
				text-decoration: none;
			}

				.slider-arrow:hover {
					background: #fff;
					color: #ccc;
				}

				.slider-arrow--right { bottom: 50%; right: 90px; }
				.slider-arrow--left { bottom: 50%; left: 90px; }

		.slider-nav {
			position: absolute;
			bottom: 30px;
		}

			.slider-nav__item {
				width: 12px;
				height: 12px;
				float: left;
				clear: none;
				display: block;
				margin: 0 5px;
				border: 1px solid #fff;
				border-radius: 8px;
			}

				.slider-nav__item:hover { background: #fff; }
				.slider-nav__item--current { background: #fff; }