html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
input,textarea { margin: 0; }

/* Remove outlines in Firefox */
a { outline: none; }

/* Clearing floats without extra markup  */
.wrapper { display: inline-block; }
.wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .wrapper { height: 1%; }
.wrapper { display: block; }

.preloader { background:url(loader.gif) center center no-repeat; display:inline-block;  }

::-moz-selection {
	background-color: #ffffcc;
}
::selection {
	background-color: #ffffcc;
}

* {
	-webkit-font-smoothing: subpixel-antialiased !important;
	text-rendering: optimizeLegibility;
}

/* General
-------------------------------------------------------------- */

body {
	background: #e6e6e6 url(background.jpg);
}


#loading {
	display: block;
	width: 49px;
	height: 44px;
	position: absolute;
	top: 50px;
	left: 0;
	background: url(loading_bg.png) no-repeat;
}

.indicator {
	display: block;
	width: 20px;
	height: 20px;
	background: transparent url(loader.gif) no-repeat;
	float: left;
	margin-left: 8px;
	margin-top: 11px;
}

div.currency {
	position: absolute;
	top: 42px;
	right: 300px;
}

div.currency ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.currency ul li {
	float: left;
}
div.currency ul li a {
	margin-left: 20px;
}

#wrapper {
	width: 981px;
	margin: 20px auto;
}

#content-wrapper {
	width: 960px;
	padding: 11px;
	min-height: 100px;
	background: url(layout_bg.png) repeat-y;
}

#fullheader {
	background: url(layout_top.png) no-repeat top left;
	height: 100px;
	position: relative;
}

.logo {
	position: absolute;
	top: 45px;
	left: 35px;
	color: #444;
}

.logo a {
	font-size: 2.3em;
	color: #444 !important;
}

.clr {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.sidebar-element {
	text-align: center;
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}

ul#search-results {
	list-style-type: decimal-leading-zero;
	margin: 20px 0px 0px 40px;
}

.paginatorDisplay {
	margin-top: 10px;
	margin-bottom: 10px;
}

#breadcrumbs {
	margin-bottom: 10px;
}

#breadcrumbs a {
	color: #439A04;
}

#breadcrumbs a:hover {
	color: #222;
}

#main-content-area {
	width: 719px;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	min-height: 500px;
}
#main-content-area p {
	font-size: 13px !important;
	font-weight: 300 !important;
	line-height: 20px !important;
	color: #6b6b6b;
}
#left-sidebar {
	width: 240px;
	float: left;
	margin-left: 15px;
}

/* Box element */

.box-element {
	min-height: 150px;
	padding: 15px;
	width: 290px;
	float: left;
}

.box-element h2 {
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: #fff 1px 1px 1px;
	border-bottom: 1px dashed #ddd;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
}

/* Products Nav */
.product-nav h2 {
	font-size: 14px;
	font-weight: bold;
	padding-left: 25px;
	background: #d8588c;
	text-shadow: #a5456c 1px 1px 1px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.product-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.product-nav ul li {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #f2f2f2;
}

.product-nav ul li a {
	display: block;
	height: 30px;
	line-height: 30px;
	padding-left: 25px;
	background: url(bullet.png) no-repeat left;
}

/* Customer Panel */

.customer-panel h3 {
	font-size: 14px;
	font-weight: bold;
	padding-left: 25px;
	background: #d8588c;
	text-shadow: #a5456c 1px 1px 1px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

/* Shopping Cart */

#shopping-cart {
	width: 234px;
	height: 39px;
	position: absolute;
	top: 35px;
	right: 30px;
}
.shopping-cart-inner {
	width: 234px;
	height: 39px;
	position: relative;
}

a.cart1 {
	display: block;
	width: 38px;
	height: 37px;
	position: absolute;
	top: 0;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	left: 0;
	background: #399501;
	background: -webkit-gradient(linear,0 0,0 bottom,from(#5AA70A),to(#399501));
	background: -moz-linear-gradient(#5AA70A,#399501);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5AA70A',endColorstr='#399501',GradientType=0);
	border-top: solid 1px #89C520;
	border-bottom: solid 1px #016E00;
	border-right: solid 1px #016E00;
}

#header-top-nav {
	position: absolute;
	bottom: 0px;
	right: 50px;
}

#header-top-nav a {
	color: #666;
	margin-left: 15px;
	margin-right: 15px;
}

.cart2 {
	display: block;
	width: 196px;
	height: 37px;
	position: absolute;
	top: 0;
	right: 0;
	color: #016E00;
	text-align: center;
	background: #D2EAC3;
	border-top: 1px solid #016E00;
	border-right: 1px solid #016E00;
	border-bottom: 1px solid #016E00;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
}
.cart2 a {
	color: #016E00 !important;
	font-weight: bold;
}
.cart2 a:hover {
	text-decoration: underline;
}
.cart2 p {
	line-height: 39px;
	margin: 0;
	padding: 0;
}

/* Form Fields
-------------------------------------------------------------- */

label {
	display: block;
	font-weight: bold;
}

fieldset {
	margin-bottom: 20px;
}

#main-content-area input[type='text'], textarea {
	width: 80%;
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 5px;
	margin-bottom: 5px;
}
#main-content-area input[type='text']:hover, #main-content-area input[type='text']:focus {
	border: 1px solid rgba(0,0,0,0.30);
}
#main-content-area input[type='password'] {
	width: 40%;
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 5px;
	margin-bottom: 5px;
}
#main-content-area input[type='password']:hover, #main-content-area input[type='password']:focus {
	border: 1px solid rgba(0,0,0,0.30);
}

legend {
	display: block;
	font-size: 16px;
	color: #666;
	margin-top: 10px;
	margin-bottom: 10px;
}

.facebookimg {
	display: block;
	position: absolute;
	top: 120px;
	right: -73px;
	height: 125px;
	width: 85px;
	background: url(facebookimg.png) no-repeat top left;
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}
.facebookimg:hover {
	background: url(facebookimg.png) no-repeat bottom left;
}

/* Other
-------------------------------------------------------------- */

/* CUSTOMIZE */

#stripe {
	width: 958px;
	margin-top: 10px;
	height: 40px;
	background: #399501; /*Editable*/
	background: -webkit-gradient(linear,0 0,0 bottom,from(#5AA70A),to(#399501)); /*Editable*/
	background: -moz-linear-gradient(#5AA70A,#399501); /*Editable*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#399501',endColorstr='#5AA70A',GradientType=0); /*Editable*/
	border-top: solid 1px #89C520; /*Editable*/
	border-bottom: solid 1px #016E00; /*Editable*/
}

#stripe ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#stripe ul li {
	float: left;
}

#stripe ul li a {
	display: block;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #399501; /*Editable*/
	color: #fff;
	text-shadow: #375E07 1px 0px 1px; /*Editable*/
}

.stripe-title {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 260px;
	float: left;
	background: url(nav_shadow.png) repeat-y top right;
	text-shadow: #375E07 1px 0px 1px; /*Editable*/
}

#sidebar h3 {
	display: block;
	background: #399501; /*Editable*/
	background: -webkit-gradient(linear,0 0,0 bottom,from(#5AA70A),to(#399501)); /*Editable*/
	background: -moz-linear-gradient(#5AA70A,#399501); /*Editable*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#399501',endColorstr='#5AA70A',GradientType=0); /*Editable*/
	border-top: solid 1px #89C520; /*Editable*/
	border-bottom: solid 1px #016E00; /*Editable*/
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	width: 185px;
	float: left;
	text-shadow: #375E07 1px 0px 1px; /*Editable*/
	
	position: relative;
	padding: 0 0 0 15px;
	margin: 15px 0 0;
}

#categories ul li.active a.sf-with-ul {
	background: #399501; /*Editable*/
	background: -webkit-gradient(linear,0 0,0 bottom,from(#5AA70A),to(#399501)); /*Editable*/
	background: -moz-linear-gradient(#5AA70A,#399501); /*Editable*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#399501',endColorstr='#5AA70A',GradientType=0); /*Editable*/
	text-shadow: #375E07 1px 0px 1px; /*Editable*/
	color: #fff;
	font-weight: bold;
}

#categories ul li.active ul li a {
	background: #fff;
	color: #222;
}

span.h3arrow {
	display: block;
	height: 19px;
	width: 19px;
	border-color: #399501 transparent transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	bottom:-20px;
	right:20px;
	z-index: 20;
}

#skyggna {
	width: 719px;
	height: 250px;
}

#skyggna ul {
	margin: 0;
	list-style-type: none;
}

#stripe ul li a:hover, #stripe ul li a.active {
	background: #399501;
}

a:hover {
	text-decoration: underline;
}

/* Copyright */

#copyright {
	padding: 0px 15px;
	text-align: center;
	font-size: 1.0em;
	color: #222;
	font-weight: bold;
}
#copyright span {
	color: #999;
	font-weight: normal;
}

/* Text Resizer
-------------------------------------------------------------- */

#text-resizer {
	position: absolute;
	top: 27px;
	right: 210px;
}

#font-large {
	border: 0;
	background: transparent url(aplus_bg.png) no-repeat;
	text-indent: -999999px;
	width: 26px;
	height: 21px;
}
#font-large:hover {
	cursor: pointer;
	background: transparent url(aplus_bg_hover.png) no-repeat;

}
#font-small {
	border: 0;
	background: transparent url(aminus_bg.png) no-repeat;
	text-indent: -999999px;
	width: 26px;
	height: 21px;
}
#font-small:hover {
	cursor: pointer;
	background: transparent url(aminus_bg_hover.png) no-repeat;

}

/* Header Search
-------------------------------------------------------------- */

#search-form {
	position: absolute;
	top: 25px;
	right: 30px;
}

input.search-field {
	float: left;
	width: 110px;
	height: 21px;
	background: url(search_bg.png) no-repeat;
	font-size: 0.9em;
	border: 0;
	margin: 0;
	padding: 6px 0px 0px 17px;
	color: #666;
}
input.search-button {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
}

/* Full Page
-------------------------------------------------------------- */

#content-full {
	padding: 20px;
	min-height: 500px;
}

h1 {
	border-left: #439A04 5px solid;
	padding-bottom: 0px;
	padding-left: 10px;
	font-size: 18px;
	margin: 0;
	line-height: 25px;
	color: #222;
	border-bottom: 1px solid #f2f2f2;
}

/* Sidebar
-------------------------------------------------------------- */

#sidebar {
	width: 200px;
	margin-left: 1px;
}

#sidebar.right {
	width: 229px;
	margin-right: 1px;
	margin-left: 0px;
}

.sidebar-element {
	padding: 15px;
}

#content {
	width: 690px;
	padding: 20px;
	min-height: 500px;
}

.shadow-left {
	background: url(shadow_left.png) no-repeat top left;
}
.shadow-right {
	background: url(shadow_right.png) no-repeat top right;
}

/* search form 
-------------------------------------- */

.searchform {
	position: absolute;
	bottom: -56px;
	right: 20px;
}

.searchform input {
	font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
	background: url(searchbg.png) no-repeat;
	padding: 0 6px 0 30px;
	width: 199px;
	height: 28px;
	line-height: 28px;
	outline: none;
	border: 0;
}

.hide {
	display: none;
}

/* KARFA CSS
-------------------------------------------------------------- */

.left {
	float: left;
}
.product {
	width: 150px;
	height: 150px;
	float: left;
	position: relative;
	margin-bottom: 30px;
	margin-right: 20px;
	text-align: center;
}

.product-price {
	color: #fff;
	background: #8AA830;
	/* TOP, RIGHT, BOTTOM, LEFT */
	padding: 3px 5px 3px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	display: inline;
}
a.product-title {
	display: block;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}
a.product-title:hover {
	background: none;
}

#product-gallery {
	width: 240px;
	text-align: center;
}

#product-text {
	width: 400px;
	float: right;
}

.block {
	display: block;
}

.disabled {
	display: none;
}

.clear {
	clear: both;
}

.center-img {
	display: block;
	width: 160px;
	text-align: center;
}

.nytt {
	display: block;
	height: 57px;
	width: 57px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(nytt.png) no-repeat;
}

/* Product images */

.product-readmore {
	position: absolute;
	left: 0;
	bottom: 20px;
}

.buy-button {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	left: 0;
}


/* Added */

.item {
	float: left;
	width: 155px;
	background: url(itembg.png) bottom left no-repeat;
	height: 255px;
	position: relative;
	padding: 10px 8px;
	margin-bottom: 10px;
	border: 1px solid #f2f2f2;
	margin-right: 5px;
	background: #fff;
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.item:hover {
	background: #fff;
	-moz-box-shadow: 0 0 20px #cccccc;
	-webkit-box-shadow: 0 0 20px #cccccc;
	box-shadow: 0 0 20px #cccccc;
}

.item img {
	max-width: 135px;
	max-height: 135px;
}

.product_title1 {
display: block;
color: #016E00;
font-weight: bold;
float: left;
text-decoration: none;
font-size: 14px;
}
.product_title2 {
color: #9F9F9F;
padding: 17px 0px 0px 7px;
font-weight: bold;
float: left;
}
.product_text {
font-size: 12px;
color: #818181;
padding: 0px 18px 0px 14px;
line-height: 23px;
clear: both;
}
.price {
display: block;
clear: both;
text-align: center;
margin-top: 8px;
margin-bottom: 8px;
font-size: 14px;
color: #333;
font-weight: bold;
width: 100%;
position: absolute;
left: 0;
bottom: 40px;
}

.buy-button {
	text-align: center;
}

#footer-content {
	text-align: center;
	padding: 10px;
	font-size: 12px;
}

#MessageContent {
	width: 665px;
	height: 320px;
	margin-bottom: 20px;
}

.submit {
	text-align: right;
	margin-right: 30px;
}